:root {
    --noir: #000;
    --blanc: #fff;
}

body {
    overflow-x: hidden;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/fond-debut.png");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 10px;
    font-size: 10vw;
    font-family: 'Merienda', cursive;
}

.credits {
    font-size: 11px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    margin-bottom: 20px;
}

.scrollicon {
    width: 100px;
}

section {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#chapitreun {
    background-image: url("../img/img_arriere_plan/fond_ciel.png");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#chapitredeux {
    background-image: url("../img/img_arriere_plan/fond_ciel.png");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#chapitretrois {
    background-image: url("../img/img_arriere_plan/fond-noir.png");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#chapitrequatre {
    background-image: url("../img/img_arriere_plan/fond-eau.png");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#chapitrecinq {
    background-image: url("../img/img_arriere_plan/fond_ciel.png");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#chapitresix {
    background-image: url("../img/img_arriere_plan/fond_ciel.png");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.spritesheet {
    height: 500vh;
}

.ougabouga {
    aspect-ratio: 16/9;
    width: 50vw;
    border: 1px solid#000;
    background-image: url(../img/img_personnages/spritesheet_chien.png);
    animation-name: marche;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(60);
}

@keyframes marche {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -6000%;
    }
}